<h1>Location</h1>
<p class="uk-text-break">Now, where is your new listing located? This will let users find your space easily!</p>
<p class="uk-margin-small-top">All you need to do is type the location of the space you want to list and select it from the dropdown. Once we drop a pin on it we'll have all the information we need.</p>
