<div class="uk-height-viewport uk-text-center uk-vertical-align loginRegisterWrapper">

    <div id="registrationContainer" class="uk-vertical-align-middle">

        <h1 class="loginRegisterHeader">Change Password</h1>

        <div class="uk-container loginRegisterFormContainer">

            <form class="uk-form" action="/changepassword" method="post" role="form" id="changePasswordForm">
                <div class="uk-form-row uk-margin-large-top">
                    <div class="uk-form-controls">
                        <input class="uk-form-large uk-text-center uk-width-1-1 {{#if newPasswordError}}uk-form-danger{{/if}}"
                               type="password" name="newPassword" id="newPassword" placeholder="new password"
                               value="{{newPassword}}">
                    </div>
                    {{>error_text_alert newPasswordError}}
                </div>
                <div class="uk-form-row uk-margin-bottom">
                    <div class="uk-form-controls">
                        <input class="uk-form-large uk-width-1-1 uk-text-center {{#if newPassword2Error}}uk-form-danger{{/if}}"
                               type="password" name="newPassword2" id="newPassword2" placeholder="confirm password"
                               value="{{newPassword2}}">
                    </div>
                    {{>error_text_alert newPassword2Error}}
                </div>
                <button class="uk-button uk-button uk-width-1-1 uk-button-large uk-button-primary uk-margin-top uk-margin-large-bottom"
                        name="changePassId" type="submit" data-uk-button value="{{id}}">Reset
                </button>
            </form>

        </div>
    </div>
</div>
