<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/css/uikit.min.css" />
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
    <link rel='stylesheet' href='/stylesheets/css/animate.css' />
    <link rel="stylesheet" href="/stylesheets/css/jquery.contextMenu.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700,600|Grand+Hotel'
          rel='stylesheet' type='text/css'>
    <script src="/javascripts/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/jquery.contextMenu.min.js"></script>
    <script src="/javascripts/jquery.ui.position.min.js"></script>
    <script src="/javascripts/uikit.min.js"></script>


    <!--style for forms-->
    <link rel="stylesheet" href="/stylesheets/css/components/form-password.min.css" />
    <link rel="stylesheet" href="/stylesheets/css/components/form-advanced.min.css" />
    <link rel="stylesheet" href="/stylesheets/css/components/autocomplete.min.css" />
    <link rel="stylesheet" href="/stylesheets/css/components/tooltip.min.css" />
    <link rel="stylesheet" href="/stylesheets/css/components/slideshow.min.css"/>
    <link rel="stylesheet" href="/stylesheets/css/components/datepicker.min.css"/>

    <!--scripts for forms-->
    <script src="/javascripts/components/form-password.min.js"></script>
    <script src="/javascripts/components/timepicker.js"></script>
    <script src="/javascripts/components/autocomplete.min.js"></script>
    <script src="/javascripts/components/tooltip.min.js"></script>
    <script src="/javascripts/components/slideshow.min.js"></script>
    <script src="/javascripts/components/lightbox.min.js"></script>
    <script src="/javascripts/components/pagination.min.js"></script>
    <script src="/javascripts/components/sticky.min.js"></script>
    <script src="/javascripts/components/datepicker.min.js"></script>

    <!--&lt;!&ndash;google maps api&ndash;&gt;-->
    <!--<script async defer-->
            <!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR-B8NexPsOTcHy3XnTp6WsgpbnUoHvAw">-->
    <!--</script>-->

</head>
<body>
{{>menu}}
{{{body}}}
</body>
</html>
