<div class="uk-height-viewport uk-text-center uk-vertical-align loginRegisterWrapper">

    <div id="registrationContainer" class="uk-vertical-align-middle">

        <h1 class="loginRegisterHeader">Reset Password</h1>

        <div class="uk-container loginRegisterFormContainer">

            <form class="uk-form" action="/resetpassword" method="post" role="form" id="resetPasswordForm">
                <div class="uk-form-row uk-margin-large-top">
                    <div class="uk-form-controls">
                        <input class="uk-width-1-1 uk-form-large uk-text-center {{#if emailError}}uk-form-danger{{/if}}"
                               type="text" name="resetPassEmail" id="resetPassEmail" placeholder="E-mail"
                               value="{{resetPassEmail}}" type="email" name="resetPassEmail">
                    </div>
                    {{>error_text_alert emailError}}
                </div>
                <button class="uk-button uk-button uk-width-1-1 uk-button-large uk-button-primary uk-margin-top uk-margin-large-bottom" type="submit"  data-uk-button>Reset</button>
            </form>

        </div>
    </div>
</div>
