<div class="uk-height-viewport uk-text-center uk-vertical-align loginRegisterWrapper">

    <div id="registrationContainer" class="uk-vertical-align-middle">

        <h1 class="loginRegisterHeader">Just one more step...</h1>

        <div class="uk-container" id="verifyMessageContainer">

            {{verifyMessage}}

        </div>
    </div>
</div>